<form [formGroup]="userDetails">
  <mat-form-field class="example-full-width">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" required>
    <mat-error *ngIf="userDetails.get('name')?.hasError('required')">
      Name is required
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>First Name</mat-label>
    <input matInput formControlName="firstName" required>
    <mat-error *ngIf="userDetails.get('firstName')?.hasError('required')">
      First Name is required
    </mat-error>
  </mat-form-field><br>
  <mat-form-field class="example-full-width">
    <mat-label>Login Name</mat-label>
    <input matInput formControlName="loginName" required>
    <mat-error *ngIf="userDetails.get('loginName')?.hasError('required')">
      Login Name is required
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Password</mat-label>
    <input matInput type="password" min="6" formControlName="password" required>
    <!-- Info icon button -->
    <button mat-icon-button matSuffix aria-label="Info" (click)="openPasswordInfoDialog()">
      <mat-icon>info</mat-icon>
    </button>
    <mat-error *ngIf="userDetails.get('password')?.hasError('required')">
      Password is required
    </mat-error>
  </mat-form-field><br>
  <mat-form-field class="example-full-width">
    <mat-label>Password Confirmation</mat-label>
    <input matInput type="password" formControlName="passwordConfirm" required>
    <mat-error *ngIf="userDetails.get('passwordConfirm')?.hasError('required')">
      Password confirmation is required
    </mat-error>
    <!-- Display error if passwords do not match -->
    <mat-error *ngIf="userDetails.get('passwordConfirm')?.hasError('passwordMismatch') && (userDetails.get('passwordConfirm')?.dirty || userDetails.get('passwordConfirm')?.touched)">
      Passwords do not match.
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Email (Optional)</mat-label>
    <input matInput formControlName="email" placeholder="john@example.com">
    <mat-error *ngIf="userDetails.get('email')?.hasError('email') && userDetails.get('email')?.touched">
      Please enter a valid email
    </mat-error>
  </mat-form-field><br>
  <!-- Next and Previous Buttons -->
  <div>
    <button mat-raised-button color="primary" type="button" matStepperPrevious>Previous</button>
    <button mat-raised-button color="primary" type="button" matStepperNext [disabled]="userDetails.invalid">Next</button>
  </div>
</form>
